name: seu_app
description: Aplicativo Flutter corrigido
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  google_api_headers: ^2.0.0

flutter:
  uses-material-design: true

  plugin:
    platforms:
      android:
        default_package: google_api_headers
      ios:
        default_package: google_api_headers
